[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
sphinx = ">=2.2"
breathe = ">=3.1"
sphinx-rtd-theme = "*"
twine = "*"
wheel = "*"

[packages]
jinja2 = ">=2.10"
regex = "*"
inflect = ">=3.0"
docstring-parser = ">=0.6"
pytest = "*"

[requires]
python_version = "3.7"
